.range {
  display: flex;
  position: relative;

  .min-value {
    font-size: 15px;
    position: absolute;
    left: -14px;
    top: 5px;
  }

  .max-value {
    font-size: 15px;
    position: absolute;
    top: 5px;
    right: -30px;
  }
}

.wrapper {

  .value {
    text-align: center;
  }
}

.wrapper {
  width: 100%;
}